<template>
  <div class="hello">
    <h1>GEOINPUT</h1>
    <p>Adresa / GPS</p>
    <p>{{ showedText }}</p>

    <button @click="showModal = true">Vybrat</button>

    <div class="modal-mask" v-if="showModal" @close="showModal = false">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
            <div  style="height: 800px; width: 100%">
              <l-map :id="mapCursorStyle" :zoom="zoom" :center="center" @click="addMarker">
                <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
                <l-marker
                  v-for="(marker, index) in markers"
                  :lat-lng="marker"
                  
                 :key="index"
                ></l-marker>
              </l-map>
            </div>
          </div>

          <div class="modal-footer">
            <button class="modal-ok-button" @click="choosePossition">
              OK
            </button>
            <button v-if="!positionEditabled" class="modal-ok-button" @click="editPosition">
              Choose new position
            </button>
            <button v-else class="modal-ok-button" @click="editPosition">
              Selecting postion
            </button>
            <button  class="modal-ok-button" @click="removeMarker">
              CLEAR position
            </button>
            <button class="modal-cancel-button" @click="cancelPossition">
              CANCEL
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GeoInput',
  props: ['value'],
  data: function() {
    return {
      showModal: false,
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      defaultZomm : true,
      markers: [],
      positionEditabled : false,
    };
  },
  mounted() {
    this.longtitude && this.latitude && this.markers.push({ lat: this.latitude, lng: this.longtitude });
  },
  computed: {
    longtitude: function() {
      return this.value.longtitude;
    },
    latitude: function() {
      return this.value.latitude;
    },
    name: function() {
      return this.value.name;
    },
    center: function() {
      return this.longtitude && this.latitude
        ? [this.latitude, this.longtitude]
        : [49.816720843571765, 15.337081892139228]; //zhruba nad cz
    },
    showedText: function() {
      if (this.name) return this.name;
      else if ((this.longtitude || this.longtitude == 0) && (this.latitude || this.latitude == 0))
        return ' LTT: ' + this.latitude + ' LNG: ' + this.longtitude;
      else return 'N/A';
    },
    mapCursorStyle: function () {
      return this.positionEditabled ? 'map-style' : '';
    },
    zoom : function() {
      return (!this.longtitude || !this.latitude) ? 2 : 7;
    }
  },
  methods: {
    addMarker(event) {
      if (this.positionEditabled){
        this.markers = [event.latlng];
        this.positionEditabled = false;
      }
    },
    removeMarker() {
      this.markers.splice(0, 1);
    },
    choosePossition() {
      if (this.markers.length)  
        this.$emit('input', { ...this.value,  longtitude: this.markers[0].lng, latitude : this.markers[0].lat})
        
        else  
         this.$emit('input', { ...this.value,  longtitude: null, latitude : null})
      this.positionEditabled = false; 
      this.showModal = false;
    },
    cancelPossition() {
      this.positionEditabled = false;
      this.showModal = false;
    },
    editPosition() {
      this.positionEditabled = !this.positionEditabled;
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#map-style {
  cursor: crosshair;
}
.modal-footer {
  padding: 16px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 70%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-body {
  min-height: 75%;
  margin: 20px 0;
}

.modal-ok-button {
  margin-right: 16px;
}
.modal-cancel-button {
}
</style>
