<template>
  <div id="app">
    <geo-input v-model="geoData" />
    <button @click="tellme" />
  </div>
</template>

<script>
import GeoInput from './components/GeoInput.vue';

export default {
  name: 'App',
  components: {
    GeoInput,
  },
  data: function() {
    return {
      geoData: {
        latitude: 49.77,
        longtitude: null,
        name: 'aaaaaa',
        address: 'Podlesi 136, 789 73 Usov',
      },
    };
  },
  methods: {
    tellme() {
      console.log(this.geoData.longtitude);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
